<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>
    <input type="button" id="btnConvert" value="Convert" class="btn btn-danger"> 
    <p>{{ message }}</p>

    <div id="filterbox" style="border-style: solid;display: inline-block;padding: 8px">
        Filter<br><br>
        <input id="txtBox" type="textbox"/>
    </div>    

    <div id="cityip"><input type="text"><input type="submit"></div>

</body>
<script type="text/javascript">
      $(document).ready(function()
      {
      $('#btnConvert').click(function()
      {
          //jsonified = JSON.stringify(makeJsonFromTable('ex-table')) 
          // alert(JSON.stringify(makeJsonFromTable('ex-table')))
          console.log("Now ajax call");
          $.ajax({
                type: 'POST',
                //contentType: 'application/json',
                //data: jsonified,
                //dataType: 'json',
                url: 'http://127.0.0.1:5000/import_json',
                success: function (e) 
                {
                  console.log("Done");
                  //  window.location = "http://127.0.0.1:5000/signUp";
                },
                error: function(error) 
                {
                  console.log(error);
                }
          }); 
      }); 
  });

</script>
</html>
