<!DOCTYPE html>
<html>
<head>

  <title>Home Medical Visits</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-app.js"></script>
  <!-- <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-auth.js"></script> -->
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-analytics.js"></script>
  <script src='js/TableToJson.js'></script>
  <script src='js/src.js'></script>
  
</head>

<body>

  <div class = "container">
    <div class="row justify-content-center align-items-center">
      <h1>Home Medical Visits</h1>
    </div>

    <div class="row" id="loading">
      <img src="assets/770.gif">
    </div>
    
    <div class="row" id="navigation" style="display: none">
      <div class="row" id="bar" style="position: relative;margin-left: 17%">
      <a href="index.html" class="btn btn-primary" id="reset"><b>RESET</b></a>

    <nav id="main_nav">
    <ul>
      <li>
        <a id="sortbutton" class="btn btn-primary"><b>Sorting</b></a>
        <ul>
          <li>
            <a>Numerical</a>
            <ul>
              <li>
                <a >City_ID
                  <span style="float:right">
                    <i class="fas fa-sort-numeric-down" onclick="reloadTable('City_ID', 1)"></i>
                    <i class="fas fa-sort-numeric-up-alt" onclick="reloadTable('City_ID', -1)"></i>
                  </span>
                </a>
              </li>
              <li>
                <a >ID_Personal
                  <span style="float:right">
                    <i class="fas fa-sort-numeric-down" onclick="reloadTable('ID_Personal', 1)"></i>
                    <i class="fas fa-sort-numeric-up-alt" onclick="reloadTable('ID_Personal', -1)"></i>
                  </span>
                </a>
              </li>
              <li>
                <a >ID_Type
                  <span style="float:right">
                    <i class="fas fa-sort-numeric-down" onclick="reloadTable('ID_Type', 1)"></i>
                    <i class="fas fa-sort-numeric-up-alt" onclick="reloadTable('ID_Type', -1)"></i>
                  </span>
                </a>
              </li>
              <li>
                <a >Is_Patient_Minor
                  <span style="float:right">
                    <i class="fas fa-sort-numeric-down" onclick="reloadTable('Is_Patient_Minor', 1)"></i>
                    <i class="fas fa-sort-numeric-up-alt" onclick="reloadTable('Is_Patient_Minor', -1)"></i>
                  </span>
                </a>
              </li>
              <li>
                <a >Latitude
                  <span style="float:right">
                    <i class="fas fa-sort-numeric-down" onclick="reloadTable('LAT', 1)"></i>
                    <i class="fas fa-sort-numeric-up-alt" onclick="reloadTable('LAT', -1)"></i>
                  </span>
                </a>
              </li>
              <li>
                <a >Longitude
                  <span style="float:right">
                    <i class="fas fa-sort-numeric-down" onclick="reloadTable('LON', 1)"></i>
                    <i class="fas fa-sort-numeric-up-alt" onclick="reloadTable('LON', -1)"></i>
                  </span>
                </a>
              </li>
              <li>
                <a >N_Home_Visits
                  <span style="float:right">
                    <i class="fas fa-sort-numeric-down" onclick="reloadTable('N_Home_Visits', 1)"></i>
                    <i class="fas fa-sort-numeric-up-alt" onclick="reloadTable('N_Home_Visits', -1)"></i>
                  </span>
                </a>
              </li>
              <li>
                <a >Patient_Age
                  <span style="float:right">
                    <i class="fas fa-sort-numeric-down" onclick="reloadTable('Patient_Age', 1)"></i>
                    <i class="fas fa-sort-numeric-up-alt" onclick="reloadTable('Patient_Age', -1)"></i>
                  </span>
                </a>
              </li>
              <li> 
                <a >Time_Delay
                  <span style="float:right">
                    <i class="fas fa-sort-numeric-down" onclick="reloadTable('Time_Delay', 1)"></i>
                    <i class="fas fa-sort-numeric-up-alt" onclick="reloadTable('Time_Delay', -1)"></i>
                  </span>
                </a>
              </li>
              <li> 
                <a >Visit_Status
                  <span style="float:right">
                    <i class="fas fa-sort-numeric-down" onclick="reloadTable('Visit_Status', 1)"></i>
                    <i class="fas fa-sort-numeric-up-alt" onclick="reloadTable('Visit_Status', -1)"></i>
                  </span>
                </a>
              </li>
              <li>
                <a >Zipcode
                  <span style="float:right">
                    <i class="fas fa-sort-numeric-down" onclick="reloadTable('Zipcode', 1)"></i>
                    <i class="fas fa-sort-numeric-up-alt" onclick="reloadTable('Zipcode', -1)"></i>
                  </span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a>Non-numerical</a>
            <ul>
              <li>
                <a >City
                  <span style="float:right">
                    <i class="fas fa-sort-alpha-down" onclick="reloadTable('City', 1)"></i>
                    <i class="fas fa-sort-alpha-up-alt" onclick="reloadTable('City', -1)"></i>
                  </span>
                </a>
              </li>
              <li>
                <a >Pathology
                  <span style="float:right">
                    <i class="fas fa-sort-alpha-down" onclick="reloadTable('Pathology', 1)"></i>
                    <i class="fas fa-sort-alpha-up-alt" onclick="reloadTable('Pathology', -1)"></i>
                  </span>
                </a>
              </li>
              <li>
                <a >Date
                  <span style="float:right">
                    <i class="fas fa-sort-alpha-down" onclick="reloadTable('Date', 1)"></i>
                    <i class="fas fa-sort-alpha-up-alt" onclick="reloadTable('Date', -1)"></i>
                  </span>
                </a>
              </li>
            </ul>
          </li>
        </li>
      </ul>
    </nav>

    <nav id="main_nav">
      <ul>
        <li>
          <a id="sortbutton" class="btn btn-primary"><b>Filter</b></a>
          <ul>
            <li id="numerical">
              <a>Numerical</a>
              <ul>
                <li>
                  <a>City_ID<span class="fa fa-filter" style="float:right" onclick="filter('City_IDip')"></span>
                  <div style="width:200px;" id="City_IDip">
                    <div class="row ipbox_part1" id="City_ID_inpt">
                      <div class="row">
                        <div class="col">Enter Min</div>
                        <div class="col"><input type="text" class="ipbox"></div>
                      </div>
                      <div class="row" style="margin-top:2%">
                        <div class="col">Enter Max</div>
                        <div class="col"><input type="text" class="ipbox"></div>
                      </div> 
                    </div>
                  <div class="row ipbox_part2">
                    <div class="col"><button onclick="cleared('City_ID_inpt')" class="btn btn-secondary" style="font-size: 12px">Clear</button></div>
                    <div class="col"><input onclick="submitted('City_ID_inpt')" class="btn btn-primary" type="submit" style="font-size: 12px"></div>
                  </div>
                </div> 
                </li>
                <li>
                  <a>ID_Personal<span class="fa fa-filter" style="float:right" onclick="filter('ID_Personalip')"></span>
                    <div style="width:200px;" id="ID_Personalip">
                      <div class="row ipbox_part1" id='ID_Personal_inpt'>
                        <div class="row">
                          <div class="col">Enter Min</div>
                          <div class="col"><input type="text" class="ipbox"></div>
                        </div>
                        <div class="row" style="margin-top:2%">
                          <div class="col">Enter Max</div>
                          <div class="col"><input type="text" class="ipbox"></div>
                        </div> 
                      </div>
                    <div class="row ipbox_part2">
                      <div class="col"><button onclick="cleared('ID_Personal_inpt')" class="btn btn-secondary" style="font-size: 12px">Clear</button></div>
                      <div class="col"><input onclick="submitted('ID_Personal_inpt')" class="btn btn-primary" type="submit" style="font-size: 12px"></div>
                    </div>
                  </div> 
                </li>
                <li><a>ID_Type<span class="fa fa-filter" style="float:right" onclick="filter('ID_Typeip')"></span>
                  <div style="width:200px;" id="ID_Typeip">
                    <div class="row ipbox_part1" id="Is_Patient_Minor_inpt">
                      <div class="row">
                        <div class="col">Enter Min</div>
                        <div class="col"><input type="text" class="ipbox"></div>
                      </div>
                      <div class="row" style="margin-top:2%">
                        <div class="col">Enter Max</div>
                        <div class="col"><input type="text" class="ipbox"></div>
                      </div> 
                    </div>
                  <div class="row ipbox_part2">
                    <div class="col"><button onclick="cleared('ID_Type_inpt')" class="btn btn-secondary" style="font-size: 12px">Clear</button></div>
                    <div class="col"><input onclick="submitted('ID_Type_inpt')" class="btn btn-primary" type="submit" style="font-size: 12px"></div>
                  </div>
                </div>                 
                </li>
                <li><a>Is_Patient_Minor<span class="fa fa-filter" style="float:right" onclick="filter('Is_Patient_Minorip')"></span>
                  <div style="width:200px;" id="Is_Patient_Minorip">
                  <div class="row ipbox_part1" id="Is_Patient_Minor_inpt">
                      <div class="row">
                        <div class="col">Enter Min</div>
                        <div class="col"><input type="text" class="ipbox"></div>
                      </div>
                      <div class="row" style="margin-top:2%">
                        <div class="col">Enter Max</div>
                        <div class="col"><input type="text" class="ipbox"></div>
                      </div> 
                  </div>
                  <div class="row ipbox_part2">
                    <div class="col"><button onclick="cleared('Is_Patient_Minor_inpt')" class="btn btn-secondary" style="font-size: 12px">Clear</button></div>
                    <div class="col"><input onclick="submitted('Is_Patient_Minor_inpt')" class="btn btn-primary" type="submit" style="font-size: 12px"></div>
                  </div>
                </div>
                <li><a>Latitude<span class="fa fa-filter" style="float:right" onclick="filter('Latitudeip')"></span>
                  <div style="width:200px;" id="Latitudeip">
                    <div class="row ipbox_part1" id="Latitude_inpt">
                      <div class="row">
                        <div class="col">Enter Min</div>
                        <div class="col"><input type="text" class="ipbox"></div>
                      </div>
                      <div class="row" style="margin-top:2%">
                        <div class="col">Enter Max</div>
                        <div class="col"><input type="text" class="ipbox"></div>
                      </div> 
                    </div>
                  <div class="row ipbox_part2">
                    <div class="col"><button onclick="cleared('Latitude_inpt')" class="btn btn-secondary" style="font-size: 12px">Clear</button></div>
                    <div class="col"><input onclick="submitted('Latitude_inpt')" class="btn btn-primary" type="submit" style="font-size: 12px"></div>
                  </div>
                </div>                
              </li>
                <li><a>Longitude<span class="fa fa-filter" style="float:right" onclick="filter('Longitudeip')"></span>
                  <div style="width:200px;" id="Longitudeip">
                    <div class="row ipbox_part1" id="Longitude_inpt">
                      <div class="row">
                        <div class="col">Enter Min</div>
                        <div class="col"><input type="text" class="ipbox"></div>
                      </div>
                      <div class="row" style="margin-top:2%">
                        <div class="col">Enter Max</div>
                        <div class="col"><input type="text" class="ipbox"></div>
                      </div> 
                    </div>
                  <div class="row ipbox_part2">
                    <div class="col"><button onclick="cleared('Longitude_inpt')" class="btn btn-secondary" style="font-size: 12px">Clear</button></div>
                    <div class="col"><input onclick="submitted('Longitude_inpt')" class="btn btn-primary" type="submit" style="font-size: 12px"></div>
                  </div>
                </div>
                </li>
                <li><a>N_Home_Visits<span class="fa fa-filter" style="float:right" onclick="filter('N_Home_Visitsip')"></span>
                  <div style="width:200px;" id="N_Home_Visitsip">
                    <div class="row ipbox_part1" id="N_Home_Visits_inpt">
                      <div class="row">
                        <div class="col">Enter Min</div>
                        <div class="col"><input type="text" class="ipbox"></div>
                      </div>
                      <div class="row" style="margin-top:2%">
                        <div class="col">Enter Max</div>
                        <div class="col"><input type="text" class="ipbox"></div>
                      </div> 
                    </div>
                  <div class="row ipbox_part2">
                    <div class="col"><button onclick="cleared('N_Home_Visits_inpt')" class="btn btn-secondary" style="font-size: 12px">Clear</button></div>
                    <div class="col"><input onclick="submitted('N_Home_Visits_inpt')" class="btn btn-primary" type="submit" style="font-size: 12px"></div>
                  </div>
                </div>
                </li>
                <li><a>Patient_Age<span class="fa fa-filter" style="float:right" onclick="filter('Patient_Ageip')"></span>
                  <div style="width:200px;" id="Patient_Ageip">
                    <div class="row ipbox_part1" id="Patient_Age_inpt">
                      <div class="row">
                        <div class="col">Enter Min</div>
                        <div class="col"><input type="text" class="ipbox"></div>
                      </div>
                      <div class="row" style="margin-top:2%">
                        <div class="col">Enter Max</div>
                        <div class="col"><input type="text" class="ipbox"></div>
                      </div> 
                    </div>
                  <div class="row ipbox_part2">
                    <div class="col"><button onclick="cleared('Patient_Age_inpt')" class="btn btn-secondary" style="font-size: 12px">Clear</button></div>
                    <div class="col"><input onclick="submitted('Patient_Age_inpt')" class="btn btn-primary" type="submit" style="font-size: 12px"></div>
                  </div>
                </div>
                </li>
                <li><a>Time_Delay<span class="fa fa-filter" style="float:right" onclick="filter('Time_Delayip')"></span>
                  <div style="width:200px;" id="Time_Delayip">
                    <div class="row ipbox_part1" id="Time_Delay_inpt">
                      <div class="row">
                        <div class="col">Enter Min</div>
                        <div class="col"><input type="text" class="ipbox"></div>
                      </div>
                      <div class="row" style="margin-top:2%">
                        <div class="col">Enter Max</div>
                        <div class="col"><input type="text" class="ipbox"></div>
                      </div> 
                    </div>
                  <div class="row ipbox_part2">
                    <div class="col"><button onclick="cleared('Time_Delay_inpt')" class="btn btn-secondary" style="font-size: 12px">Clear</button></div>
                    <div class="col"><input onclick="submitted('Time_Delay_inpt')" class="btn btn-primary" type="submit" style="font-size: 12px"></div>
                  </div>
                </div>
                </li>
                <li><a>Visit_Status<span class="fa fa-filter" style="float:right" onclick="filter('Visit_Statusip')"></span>
                  <div style="width:200px;" id="Visit_Statusip">
                    <div class="row ipbox_part1" id="Visit_Status_inpt">
                      <div class="row">
                        <div class="col">Enter Min</div>
                        <div class="col"><input type="text" class="ipbox"></div>
                      </div>
                      <div class="row" style="margin-top:2%">
                        <div class="col">Enter Max</div>
                        <div class="col"><input type="text" class="ipbox"></div>
                      </div> 
                    </div>
                  <div class="row ipbox_part2">
                    <div class="col"><button onclick="cleared('Visit_Status_inpt')" class="btn btn-secondary" style="font-size: 12px">Clear</button></div>
                    <div class="col"><input onclick="submitted('Visit_Status_inpt')" class="btn btn-primary" type="submit" style="font-size: 12px"></div>
                  </div>
                </div>
                </li>
                <li><a>Zip_Code<span class="fa fa-filter" style="float:right" onclick="filter('Zip_Codeip')"></span>                  
                  <div style="width:200px;" id="Zip_Codeip">
                    <div class="row ipbox_part1" id="Zip_Code_inpt">
                      <div class="row">
                        <div class="col">Enter Min</div>
                        <div class="col"><input type="text" class="ipbox"></div>
                      </div>
                      <div class="row" style="margin-top:2%">
                        <div class="col">Enter Max</div>
                        <div class="col"><input type="text" class="ipbox"></div>
                      </div> 
                  </div>
                  <div class="row ipbox_part2">
                    <div class="col"><button onclick="cleared('Zip_Code_inpt')" class="btn btn-secondary" style="font-size: 12px">Clear</button></div>
                    <div class="col"><input onclick="submitted('Zip_Code_inpt')" class="btn btn-primary" type="submit" style="font-size: 12px"></div>
                  </div>
                </div>
                </li>
              </ul>
            </li>
            <li id="non-numerical">
              <a>Non-numerical</a>
              <ul>
                <li><a>City<span class="fa fa-filter" style="float:right" onclick="filter('Cityip')"></span>
                <div style="width:200px;" id="Cityip">
                  <div class="row ipbox_part1" style="font-size: 10px">
                      <div class="col">Enter word </div>
                      <div class="col"><input type="text" class="ipbox" id="City_word"></div>
                  </div>
                  <div class="row ipbox_part2">
                    <div class="col"><button onclick="cleared('City_word')" class="btn btn-secondary" style="font-size: 12px">Clear</button></div>
                    <div class="col"><input onclick="submitted('City_word')" class="btn btn-primary" type="submit" style="font-size: 12px"></div>
                  </div>
                </div>                
                </li>
                <!-- <li onclick="filter('cityip')" id="city">GeoPoint<input type="text" id="cityip"></li> -->
                <li><a>Pathology<span class="fa fa-filter" style="float:right" onclick="filter('Pathologyip')"></span>
                <div style="width:200px;" id="Pathologyip">
                  <div class="row ipbox_part1" style="font-size: 10px">
                    <div class="row">
                      <div class="col">Enter word </div>
                      <div class="col"><input type="text" class="ipbox" id="Pathology_word"></div>
                    </div>
                  </div>
                  <div class="row ipbox_part2">
                    <div class="col"><button onclick="cleared('Pathology_word')" class="btn btn-secondary" style="font-size: 12px">Clear</button></div>
                    <div class="col"><input onclick="submitted('Pathology_word')" class="btn btn-primary" type="submit" style="font-size: 12px"></div>
                  </div>
                </div>
                </li>                
              </li> 
                <li><a>Date<span class="fa fa-filter" style="float:right" onclick="filter('Dateip')"></span>
                <div style="width:200px;" id="Dateip">
                  <div class="row ipbox_part1" style="font-size: 10px">
                    <div class="row">
                      <div class="col">Enter word </div>
                      <div class="col"><input type="text" class="ipbox" id="Date_word"></div>
                    </div>
                  </div>
                  <div class="row ipbox_part2">
                    <div class="col"><button onclick="cleared('Date_word')" class="btn btn-secondary" style="font-size: 12px">Clear</button></div>
                    <div class="col"><input onclick="submitted('Date_word')" class="btn btn-primary" type="submit" style="font-size: 12px"></div>
                  </div>
                </div>                 
              </li>
              </ul>
            </li>
          </li>
        </ul>
      </nav>
    
    <a href="visualisation.html" class="btn btn-primary" id="visualisation" style="position: relative; margin-left: 50px" target="_blank"><b>VISUALISATION</b></a>

    </div>
    </div>
      <div class="row" style="height:500px; overflow: auto; display: none" frame="box" id="tableContent">
        <table id="ex-table" class="scroll">
          <tbody>
            <thead>
            <tr>
              <th>Row#</th>
              <th>City</th>
              <th>City_ID</th> 
              <th>Date</th>
              <th>ID_Personal</th>
              <th>ID_Type</th>
              <th>Is_Patient_Minor</th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>N_Home_Visits</th>
              <th>Pathology</th>
              <th>Patient_Age</th>
              <th>Time_Delay</th>
              <th>Visit_Status</th>
              <th>Zip_Code</th>
              <!-- <th>GeoPoint <i class="fa fa-filter" style="font-size:12px"></th> -->
            </tr>
          </thead>
          </tbody>
        </table> 
      </div>
      <a onclick="add500Rows()" style="color:rgba(0,0,255); display: none" id="paging">Show more rows</a>
      <a onclick="add500FiltRows()" style="color:rgba(0,0,255); display: none" id="paging_filt">Show more rows </a>      
    </div>
  </div>
</body>

</html>