<!DOCTYPE html>
<html>
<head>
  <title>Home Medical Visits</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-app.js"></script>
  <!-- <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-auth.js"></script> -->
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-analytics.js"></script>

  <script src='js/TableToJson.js'></script>
  <script src='js/src.js'></script>
  
</head>

<body>
  <div class = "container">
    <div class="row justify-content-center align-items-center">
      <h1>Home Medical Visits</h1>
    </div>
    <div class="row">
      <a href="index.html" class="btn btn-primary" id="reset"><b>RESET</b></a>
      <nav id="main_nav">
      <ul>
        <li>
          <a href="" id="sortbutton" class="btn btn-primary"><b>Filter</b></a>
          <ul>
            <li id="numerical">
              <a>Numerical</a>
              <ul>
                <li>
                  <div class="row">
                    <div class="col">City_ID</div>
                    <div class="col"><span class="fa fa-filter" onclick="filter('City_IDip')"></span></div>
                  </div>  
                  <div id="City_IDip">  
                    Enter Min <input type="text">
                    Enter Max <input type="text">
                    <button onclick="cleared('City_IDip')">Clear</button>
                    <input type="submit" onclick="submitted('City_IDip')">
                  </div>  
                </li>
                <li>
                  <div class="row">
                    <div class="col">ID_Personal</div>  
                    <div class="col"><span class="fa fa-filter" onclick="filter('ID_Personalip')"></span></div>
                  </div>  
                  <div id="ID_Personalip">  
                    Enter Min <input type="text">
                    Enter Max <input type="text">
                    <button onclick="cleared('ID_Personalip')">Clear</button>
                    <input type="submit" onclick="submitted('ID_Personalip')">
                  </div>  
                </li>
                <li>
                  <div class="row">
                    <div class="col">ID_Type</div>  
                    <div class="col"><span class="fa fa-filter" onclick="filter('ID_Typeip')"></span></div>
                  </div>
                  <div id="ID_Typeip">  
                    Enter Min <input type="text">
                    Enter Max <input type="text">
                    <button onclick="cleared('ID_Typeip')">Clear</button>
                    <input type="submit" onclick="submitted('ID_Typeip')">
                  </div>  
                </li>
                <li>
                  <div class="row">
                    <div class="col">Latitude</div>  
                    <div class="col"><span class="fa fa-filter" onclick="filter('Latitudeip')"></span></div>
                  </div>
                  <div id="Latitudeip">  
                    Enter Min <input type="text">
                    Enter Max <input type="text">
                    <button onclick="cleared('Latitudeip')">Clear</button>
                    <input type="submit" onclick="submitted('Latitudeip')">
                  </div>  
                </li>
                <li>
                  <div class="row">
                    <div class="col">Longitude</div>  
                    <div class="col"><span class="fa fa-filter" onclick="filter('Longitudeip')"></span></div>
                  </div>
                  <div id="Longitudeip">  
                    Enter Min <input type="text">
                    Enter Max <input type="text">
                    <button onclick="cleared('Longitudeip')">Clear</button>
                    <input type="submit" onclick="submitted('Longitudeip')">
                  </div>  
                </li>
                <li>
                  <div class="row">
                    <div class="col">N_Visits</div>  
                    <div class="col"><span class="fa fa-filter" onclick="filter('N_Home_Visitsip')"></span></div>
                  </div>
                  <div id="N_Home_Visitsip">  
                    Enter Min <input type="text">
                    Enter Max <input type="text">
                    <button onclick="cleared('N_Home_Visitsip')">Clear</button>
                    <input type="submit" onclick="submitted('N_Home_Visitsip')">
                  </div>  
                </li>
                <li>
                  <div class="row">
                    <div class="col">Patient_Age</div>  
                    <div class="col"><span class="fa fa-filter" onclick="filter('Patient_Ageip')"></span></div>
                  </div>
                  <div id="Patient_Ageip">  
                    Enter Min <input type="text">
                    Enter Max <input type="text">
                    <button onclick="cleared('Patient_Ageip')">Clear</button>
                    <input type="submit" onclick="submitted('Patient_Ageip')">
                  </div> 
                </li>
                <li>
                <div class="row">                    
                  <div class="col">Time_Delay</div>  
                    <div class="col"><span class="fa fa-filter" onclick="filter('Time_Delayip')"></span></div>
                  </div>
                  <div id="Time_Delayip">  
                    Enter Min <input type="text">
                    Enter Max <input type="text">
                    <button onclick="cleared('Time_Delayip')">Clear</button>
                    <input type="submit" onclick="submitted('Time_Delayip')">
                  </div>
                </li>
                <li>
                  <div class="row">                    
                    <div class="col">Visit_Status</div>  
                    <div class="col"><span class="fa fa-filter" onclick="filter('Visit_Statusip')"></span></div>
                  </div>
                  <div id="Visit_Statusip">  
                    Enter Min <input type="text">
                    Enter Max <input type="text">
                    <button onclick="cleared('Visit_Statusip')">Clear</button>
                    <input type="submit" onclick="submitted('Visit_Statusip')">
                  </div>
                </li>
                <li>
                  <div class="row">                    
                    <div class="col">Zip_Code</div>  
                    <div class="col"><span class="fa fa-filter" onclick="filter('Zip_Codeip')"></span></div>
                  </div>                  
                  <div id="Zip_Codeip">  
                    Enter Min <input type="text">
                    Enter Max <input type="text">
                    <button onclick="cleared('Zip_Codeip')">Clear</button>
                    <input type="submit" onclick="submitted('Zip_Codeip')">
                  </div>
                </li>
              </ul>
            </li>
            <li id="non-numerical">
              <a>Categorical</a>
              <ul>
                <li>
                    <div class="row">                    
                      <div class="col">City</div>  
                      <div class="col"><span class="fa fa-filter" onclick="filter('Cityip')"></span></div>
                  </div>
                  <div id="Cityip">
                    <input type="text">
                    <button onclick="cleared('Cityip')">Clear</button>
                    <input type="submit" onclick="submitted('Cityip')">
                  </div>
                </li>
                <!-- <li onclick="filter('cityip')" id="city">GeoPoint<input type="text" id="cityip"></li> -->
                <li>
                    <div class="row">                    
                      <div class="col">Pathology</div>  
                      <div class="col"><span class="fa fa-filter" onclick="filter('Pathologyip')"></span></div>
                  </div>
                  <div id="Pathologyip">
                    <input type="text">
                    <button onclick="cleared('Pathologyip')">Clear</button>
                    <input type="submit" onclick="submitted('Pathologyip')">
                  </div>
                </li>
                <li>
                  <div class="row">                    
                    <div class="col">Minority</div>  
                    <div class="col"><span class="fa fa-filter" onclick="filter('Is_Patient_Minorip')"></span></div>
                  </div>
                  <div id="Is_Patient_Minorip">
                    <input type="text">
                    <button onclick="cleared('Is_Patient_Minorip')">Clear</button>
                    <input type="submit" onclick="submitted('Is_Patient_Minorip')"></div>
                </li> 
                <li>
                  <div class="row">
                    <div class="col">Date</div>
                    <div class="col"><span class="fa fa-filter" onclick="filter('Dateip')"></span></div>
                  </div>
                  <div id="Dateip">  
                    <input type="text">
                    <button onclick="cleared('Dateip')">Clear</button>
                    <input type="submit" onclick="submitted('Dateip')"></div>
                  </div>  
                </li>

              </ul>
            </li>
          </li>
        </ul>
      </nav>
      
      <div style="height:500px; overflow: auto" frame="box">
        <table id="ex-table" class="scroll">
          <tbody>
            <thead>
            <tr>
              <th>City</th>
              <th>City_ID</th> 
              <th>Date</th>
              <th>ID_Personal</th>
              <th>ID_Type</th>
              <th>Is_Patient_Minor</th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>N_Home_Visits</th>
              <th>Pathology</th>
              <th>Patient_Age</th>
              <th>Time_Delay</th>
              <th>Visit_Status</th>
              <th>Zip_Code</th>
              <!-- <th>GeoPoint <i class="fa fa-filter" style="font-size:12px"></th> -->
            </tr>
          </thead>
          </tbody>
        </table> 
      </div>
    </div>
  </div>  
</body>

</html>